{% include 'head.html' %} {% include 'navbar.html' %}

<style>
  .create_post_form {
    color: #111111;
  }
</style>

<div class="create_post_form">
  <form action="/new-post" method="post">
    {{ form.hidden_tag() }}
    <div class="field">
      {{ form.title.label }}<br />
      {{ form.title() }} {% for e in form.title.errors %}<span
        style="color: red; font-size: 0.8rem; padding-left: 0.5rem"
        >{{ e }}</span
      >{% endfor %}
    </div>

    <div class="field">
      {{ form.content.label }}<br />
      {{ form.content() }} {% for e in form.content.errors %}<span
        style="color: red; font-size: 0.8rem; padding-left: 0.5rem"
        >{{ e }}</span
      >{% endfor %}
    </div>

    <div style="margin-top: 1rem; display: flex; gap: 0.5rem">
      {{ form.submit() }}
    </div>
  </form>
</div>

{% include 'footer.html' %}
