{% include 'head.html' %} {% include 'navbar.html' %}

<style>
  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px -5px black;
    height: auto;
  }

  .posts a {
    text-decoration: none;
    color: black;
  }

  .post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 1px 1px 5px -3px black;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 5px -1px black;
      transition: all 0.3s linear;
    }
  }
</style>
<div>
  <h1>{{ user.name }}</h1>
  <h2>{{ user.email }}</h2>

  <div class="posts">
    {% for post in posts %}
    <a href="{{ url_for('view_post', post_id=post.id) }}">
      <div class="post">
        <h1>{{ post.title }}</h1>
        <h2>{{ post.content }}</h2>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% include 'footer.html' %}